.tabsHeader {
  color: var(--color-text-secondary);
  font-size: var(--font-size-xs);
  opacity: 0.6;
  margin-bottom: var(--spacing-xs);
  padding-left: var(--spacing-xss);
}

.tabsContainer {
  padding-bottom: var(--spacing-sm);
  background-color: var(--color-background-secondary);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  flex-wrap: wrap;
  border-radius: var(--border-radius-md);
}

.tab {
  background: none;
  border: none;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.tab:hover {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

.tabActive {
  background-color: var(--color-text-primary);
  color: var(--color-background-primary);
}

.tabActive:hover {
  background-color: var(--color-text-primary);
  color: var(--color-background-primary);
}
