.container {
  display: flex;
  align-items: center;
}

.segmented {
  display: inline-flex;
  align-items: stretch;
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.option {
  position: relative;
}

.input {
  position: absolute;
  opacity: 0;
  margin: 0;
  display: none;
  pointer-events: none;
}

.button {
  background-color: var(--share-button-bg);
  color: var(--color-text-secondary);
  padding: 0.35rem var(--spacing-md);
  font-size: var(--font-size-sm);
  cursor: pointer;
  border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
  /* border: 1px solid var(--color-border); */
  border: 0;
  border-right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  min-width: 70px;
}

.option:last-child .button {
  border-right: 0;
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
  border-left: 0;
  min-width: 69px;
}

.button:hover {
  background-color: var(--settings-item-hover-bg);
}

.buttonSelected {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
  border: 0;
}

.buttonSelected:hover {
  background-color: var(--color-secondary);
}

.badge {
  margin-left: var(--spacing-xs);
  padding: 1px 6px 2px;
  font-size: var(--font-size-xss);
  line-height: 1;
  border-radius: var(--border-radius-full);
  border: 1px solid var(--status-badge-success-border-color);
  background-color: var(--color-success-bg);
  color: var(--color-success-text);
  display: inline-flex;
  align-items: center;
}

.buttonSelected .badge {
  background-color: transparent;
  border-color: var(--color-text-on-primary);
  color: var(--color-text-on-primary);
}
